
@{
    ViewBag.Title = "ToViewer";
}
<div>
    <h2>Created Mock Responses ... </h2>
    <br />
    <h3>@ViewBag.Message</h3>
    @ViewBag.FilesImported 
    <br />
    <hr style="height:2px;border-width:0;color:gray;background-color:gray"><br />
    1) The images you uploaded have been copied into the VixCache folder <br />
    2) Mock Service responses for your images were created. <br /><br />
    You can use DASH to view them now.
    <hr style="height:2px;border-width:0;color:gray;background-color:gray"><br />
</div>
