<gov.va.med.imaging.capture.configuration.CaptureImageConfiguration>
  <dirty>false</dirty>
  <configurations>
    <gov.va.med.imaging.capture.CaptureConfiguration>
      <name>On Site Photo</name>
      <description>On Site Photo</description>
      <shortDescription>
        <value>PHOTO ID</value>
        <editable>false</editable>
      </shortDescription>
      <procedure>
        <value>PHOTO ID</value>
        <editable>false</editable>
      </procedure>
      <group>false</group>
    </gov.va.med.imaging.capture.CaptureConfiguration>
    <gov.va.med.imaging.capture.CaptureConfiguration>
    </gov.va.med.imaging.capture.CaptureConfiguration>
  </configurations>
  <sslPort>443</sslPort>
</gov.va.med.imaging.capture.configuration.CaptureImageConfiguration>