<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="ImagingShell" />
  <assembly name="ImagingClient.Infrastructure" />
  <container>
    <!-- DataSources -->
    <register type="ImagingClient.Infrastructure.UserDataSource.IUserDataSource"
              mapTo="ImagingClient.Infrastructure.UserDataSource.UserDataSource">
      <lifetime type="singleton"/>
    </register>

    <!-- Services -->
    <register type="ImagingClient.Infrastructure.DialogService.IDialogService"
              mapTo="ImagingClient.Infrastructure.DialogService.DialogService">
      <lifetime type="singleton"/>
    </register>

    <!-- ViewModels -->
    <register type="ImagingShell.ViewModels.ModulesViewModel" />
    <register type="ImagingClient.Infrastructure.ViewModels.LoginWindowViewModel" />

    <!-- Views -->
    <register type="object" mapTo="ImagingShell.Views.ModulesView" name="ModulesView">
      <lifetime type="singleton"/>
    </register>
    <register type="object" mapTo="ImagingClient.Infrastructure.Views.AboutWindow" name="AboutWindow">
      <lifetime type="singleton"/>
    </register>
    <register type="object" mapTo="ImagingClient.Infrastructure.Views.LoginWindow" name="LoginWindow">
      <lifetime type="singleton"/>
    </register>
  </container>
</unity>