<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <target name="logfile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="${gdc:item=vixlogroot}/log/VIXViewer-${shortdate}.log" layout="[${longdate}] [${uppercase:${level}}] [${logger}] ${replace:inner=${message}:searchFor=\\r\\n|\\n:replaceWith=->:regex=true}" concurrentWrites="true" />
    </target>

    <!--<target name="transactionlogfile" xsi:type="File" fileName="${environment:variable=ALLUSERSPROFILE}\MYSERVICE\Logs\$tlog-{shortdate}.txt">
      <layout xsi:type="CSVLayout" delimiter="Tab">
        <column name="time" layout="${date:format=HH\:mm\:ss.ff}" />
        <column name="thread" layout="${threadid}" />
        <column name="level" layout="${level}" />
        <column name="message" layout="${message}" />
        <column name="exception" layout="${exception:format=type,message,method:maxInnerExceptionLevel=5;innerFormat=shortType,message,method }" />
      </layout>
    </target>-->
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>