<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="DataDictionaryServicesUrl" value="http://10.238.38.124:8080/dd/services" />-->
    <add key="FilemanFiles" value="2005.6,2005.61,2005.62,2005.63,2005.64,2005.65,2006.916,2006.918" />
    <add key="IndexedFields" value="2005.6:.01,2005.6:3,2005.61:.01,2005.62:.01,2005.62:.02,2005.62:1,2005.62:13,2005.63:.01,2005.63:1,2005.63:13,2005.63:15,2005.63:27,2005.64:.01,2005.64:1,2005.64:16,2005.65:.01,2006.916:.01,2006.918:.01,2006.918:6" />
    <add key="SpecialPointers" value="2006.916:.01=2005.65:.01" />
    <add key="ParentPointers" value="2005.61:.99,2005.62:11,2005.63:11,2005.64:11,2005.65:11,2006.916:.01,2006.918:.01" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>