<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="VistA" type="Hydra.VistA.VistAConfigurationSection, Hydra.VistA" />
    <section name="Log" type="Hydra.Log.LogConfigurationSection, Hydra.Log" />
  </configSections>
  <Log LogLevel="Warn" LogFilePrefix="VixViewer" >
  </Log>
  <VistA WorkerPoolSize="5" WorkerThreadPoolSize="5" UtilPwd="DEAJpoYRQO3JSDyOO7HXcA==">
    <VixServices>
      <VixService ServiceType="Local" RootUrl="http://localhost:8080" />
      <VixService ServiceType="SiteService" RootUrl="http://localhost:8080" />
      <VixService ServiceType="Viewer" RootUrl="https://+:343" TrustedClientRootUrl="https://+:344"/>
      <VixService ServiceType="Render" RootUrl="http://localhost:9901" />
    </VixServices>
    <Policies>
      <add name="Security.EnablePromiscuousMode" value="false" />
      <add name="CPRS.ContextId.UseImageIndicator" value="false" />
      <add name="CPRS.ContextId.ImageIndicatorIndex" value="13" />
      <add name="Viewer.EnablePresentationState" value="true" />
      <add name="Viewer.EnableESignatureVerification" value="true" />
    </Policies>
    <ClientAuthentication />
    <VixTools>
        <add name="Java Log Viewer|VJ|https://REPLACE-FQDN-RUNTIME:443/Vix/ssl/JavaLogs.jsp" value="CVIX|VIX" />
        <add name="Java Versions|VJ|https://REPLACE-FQDN-RUNTIME:443/Vix/ssl/Versions.jsp" value="CVIX|VIX|SCIP" />
        <add name="ROI Configuration|VJ|https://REPLACE-FQDN-RUNTIME:443/ROIWebApp/secure/ConfigureROI.jsp" value="VIX" />
        <add name="ROI Processing Status|VJ|https://REPLACE-FQDN-RUNTIME:443/ROIWebApp/" value="VIX" />
        <add name="VIX Cache Manager|VJ|https://REPLACE-FQDN-RUNTIME:443/VixCache" value="CVIX|VIX" />
        <add name="VIX Daily Status|VJ|http://vaausappvim924.aac.dva.va.gov/VIXDailyStatus/" value="CVIX" />
        <add name="VIX Server Health|VJ|https://REPLACE-FQDN-RUNTIME/VixServerHealthWebApp/secure/MyVix.jsp" value="CVIX|VIX" />
        <add name="VIX Transaction Log|VJ|https://REPLACE-FQDN-RUNTIME:443/Vix/secure/VixLog.jsp" value="CVIX|VIX" />
        <add name="VIX Viewer Dashboard|VV|https://REPLACE-FQDN-RUNTIME:343/vix/viewer/dash" value="CVIX" />
    </VixTools>
  </VistA>
</configuration>
