<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Hix" type="Hydra.IX.Configuration.HixConfigurationSection, Hydra.IX.Configuration" />
    <section name="Render" type="VIX.Render.Service.RenderConfigurationSection, VIX.Render.Service" />
    <section name="Log" type="Hydra.Log.LogConfigurationSection, Hydra.Log" />
  </configSections>
  <Log LogLevel="Warn" LogFilePrefix="VixRender" >
  </Log>
  <Render ServerUrl="http://+:9901"></Render>
  <Hix Encrypt="true">
    <Database DataSource="C:\Program Files\VistA\Imaging\VIX.Render.Service\Db\SQLiteDb.db" CommandTimeout="300">
      <SecureElements>
      </SecureElements>
    </Database>
    <ImageStores Path="D:\VIXRenderCache">
      <ImageStore Id="1" Type="Primary" Path="Images" />
      <ImageStore Id="2" Type="Cache" Path="Cache" />
      <ImageStore Id="6" Type="Temporary" Path="Temp" />
      <ImageStore Id="8" Type="Files" Path="Files" />
    </ImageStores>
    <Processor WorkerPoolSize="10" UseSeparateProcess="true" ReprocessFailedImages="false" OpTimeOutMins="5"></Processor>
    <Purge PurgeTimes="00:00" MaxAgeDays="2" MaxCacheSizeMB="1024" Enabled="true">
    </Purge>
    <SecureElements>
      <SecureElement IsEncrypted="true" Name="CryptoPassword" Value="fxW6ebmtDWxmmUHi+JD2iZkZ030r7e54nphyvzJM9GY=" />
      <SecureElement IsEncrypted="true" Name="CryptoSalt" Value="YhhQZTxHnYFl2vY9F8YEew==" />
    </SecureElements>
  </Hix>
</configuration>