<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SiteService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SiteService.Properties.Settings>
            <setting name="SiteService_ExchangeSiteService_ImagingExchangeSiteService"
                serializeAs="String">
                <value>http://siteserver.vista.med.va.gov/VistaWebSvcs/ImagingExchangeSiteService.asmx</value>
            </setting>
        </SiteService.Properties.Settings>
    </applicationSettings>
</configuration>