#
# Trivial filter example - uses java DicomElementFilter
# to remove one element and change/replace another. Only
# applied if the criteria in elements_to_match is satisfied.
# See docs for DicomElementFilter for more info on using
# that filter.
#
[ filter_1 ]
filter_class_name = com.lbs.DCS.DicomElementFilter
filter_type = DICOM_ELEMENT_FILTER

[ filter_1/elements_to_match ]
0000,0100 = 32800

[ filter_1/elements_to_replace ]
0000,0900 = 49152

