<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- 
	The core router component is made available
	on the JNDI tree as a resource.
	-->
		
	<bean id="appConfiguration" class="gov.va.med.imaging.exchange.configuration.AppConfigurationStub">

	</bean>
	
	<bean id="exchangeContext" class="gov.va.med.imaging.exchange.ImagingExchangeContext">
		
	</bean>
</beans>
