@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mock Service for VIX Viewer</h1>
</div>

<br />
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<br />
    This services mocks (pretends) to be the C/VIX Java service so we can test the VIX Viewer app and service without the Java code.
<br />
<br />
    Please review the Info tab for more information.
<br />
<br /> 
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<br />

