@{
    ViewBag.Title = "Application description";
}
<br />
<h4>
    Notes and Conventions:<br />
</h4>
<u>Folders used :</u><br />
    Image Import Folder: c:\VixConfig\MockService\imageImport

<br />Mock Response Folders: c:\VixConfig\MockService\xml
<br />Mock Service Vix Cache folder: C:\VixCache\va-image-region\660\icn(1008861107V475740)\26732Mock
<br/><br/>

<u> Notes:</u> <br />
    <ul>
        <li>Only supported image file types where the file extension identifies the image should be used.
            <br />   EG: Filenames like test.JPEG or image.TIFF are good.
            <br />   Filename like image%2fjpeg won't work correctly.
        </li>
        <li>Run Setup\setup.cmd to initialize the folders and database.</li>
        <li>See the Select Images menu for more information.</li>
    </ul>
