<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,      log4net"/>
  </configSections>
  <log4net debug="false">
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="5000KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
   <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <!--****************************************************************************
	    -
      - The SiteId key must be populated with one or more station numbers, 
	    - separated by commas.
	    -
	    - Each of the station numbers specified must meet the following criteria:
	    -   * There must be a site service entry for the station number, and
	    -   * There must be at least one HDIG configured for that station number and 
      -     running the ProcessDicomCorrect periodic command.
      -
	  ******************************************************************************** -->
    <!--<add key="SiteId" value=""/>
    <add key="SiteServiceIpAddress" value="siteserver.vista.med.va.gov"/>-->
     <add key="SiteId" value="660"/>
     <add key="SiteServiceIpAddress" value="IMM05:8080"/>
    <!--<add key="SiteServiceIpAddress" value="vaausappvim804.aac.dva.va.gov:8080"/>-->
    <!--User Idle Timeout value is in seconds -->
    <add key="UserIdleLogout" value="3000"/>
    <add key="SecKey" value="YWxleGRlbGFyZ2U6NjU1MzIx"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
	<add key="MaximumNumberOfItemsToReturn" value="10000"/>
	<!-- All must be the first item and numbers must be in ascending order. -->
	<!-- the last number will be used as MaximumNumberOfItemsToReturn if it is not defined in this file -->
	<add key="MaximumNumberSelection" value="50,100,500,1000,5000,10000,All"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
