<div>
    <ul>
        <li>For the Dashboard, use the following patient query to return studies: <b>{ "imageFilter": "PAT,ENC", "patientICN": "1008861107V475740", "siteNumber": "660" }</b></li>
        <li>GroupIEN <b>26732Mock</b></li>
    </ul>
</div>