<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <!-- List of namespaces to search -->
    <namespace name="DicomImporter.Common.Interfaces.DataSources"/>
    <namespace name="DicomImporter.Views"/>
    <namespace name="DicomImporter.ViewModels"/>
    <namespace name="DicomImporter.DataSources"/>
    <namespace name="DicomImporter.Common.User"/>
    <namespace name="DicomImporter.Common.Services"/>
    <namespace name="ImagingClient.Infrastructure.UserDataSource"/>
    <namespace name="ImagingClient.Infrastructure.PatientDataSource"/>
    <namespace name="ImagingClient.Infrastructure.StorageDataSource"/>
    <namespace name="ImagingClient.Infrastructure.DialogService"/>
    <namespace name="ImagingClient.Infrastructure.Views"/>
    <namespace name="ImagingClient.Infrastructure.ViewModels"/>

    <!-- List of assemblies where the DicomImporter types reside -->
    <assembly name="DicomImporter.Common"/>
    <assembly name="DicomImporter.Views"/>
    <assembly name="DicomImporter.ViewModels"/>
    <assembly name="DicomImporter.DataSources"/>
    <assembly name="ImagingClient.Infrastructure"/>

    <container>

      <!-- DataSources -->
      <register type="IStorageDataSource" mapTo="StorageDataSource" />
      <register type="IUserDataSource" mapTo="UserDataSource" />
      <register type="IPatientDataSource" mapTo="PatientDataSource" />
      <register type="IDicomImporterDataSource" mapTo="DicomImporterDataSource" />

      <!-- Services -->
      <register type="IDialogService" mapTo="DialogService" />
      <register type="IImporterDialogService" mapTo="ImporterDialogService" />
      <register type="IDialogServiceImporter" mapTo="DialogServiceImporter" />

      <!-- ViewModels -->
      <register type="AboutWindowViewModel" />
      <register type="ImagingClientHomeViewModel"/>
      <register type="ImporterHomeViewModel" />
      <register type="ImporterMessagesViewModel" />
      <register type="LoginWindowViewModel" />
      <register type="NonDicomListViewModel" />
      <register type="NonDicomMediaViewModel" />
      <register type="ScanDocumentViewModel" />
      <register type="WorkListViewModel" />
      <register type="MediaStagingViewModel" />
      <register type="DirectImportHomeViewModel" />
      <register type="ConfirmationViewModel" />
      <register type="StudyListViewModel" />
      <register type="DicomViewerLauncherViewModel" />
      <register type="SelectOrderTypeViewModel" />
      <register type="ChooseExistingOrderViewModel" />
      <register type="CreateNewRadiologyOrderViewModel" />
      <register type="ReconciliationSummaryViewModel" />
      <register type="PatientLookupViewModel" />
      <register type="OrderingProviderLookupViewModel" />
      <register type="OrderingLocationLookupViewModel" />
      <register type="ProcedureLookupViewModel" />
      <register type="PatientSelectionViewModel" />
      <register type="ReportsHomeViewModel" />
      <register type="SelectMediaCategoryViewModel" />
      <register type="StatusChangeDetailsViewModel" />
      <register type="AdministrationHomeViewModel" />
      <register type="AdminRevertWorkItemViewModel" />
      <register type="AdminFailedImportViewModel" />
      <register type="AdminInProcessImportsViewModel" />
      <register type="LogViewModel" />
      <register type="AddNonDicomFilesToReconciliationViewModel" />

      <!-- Views -->
      <register type="object" mapTo="AboutWindow" name="AboutWindow" />
      <register type="object" mapTo="ImagingClientHomeView" name="ImagingClientHomeView" />
      <register type="object" mapTo="ImporterMessagesView" name="ImporterMessagesView" />
      <register type="object" mapTo="LoginWindow" name="LoginWindow" />
      <register type="object" mapTo="NonDicomListView" name="NonDicomListView" />
      <register type="object" mapTo="ImporterHomeView" name="ImporterHomeView" />
      <register type="object" mapTo="ScanDocumentWindow" name="ScanDocumentWindow" />
      <register type="object" mapTo="WorkListView" name="WorkListView" />
      <register type="object" mapTo="MediaStagingView" name="MediaStagingView" />
      <register type="object" mapTo="DirectImportHomeView" name="DirectImportHomeView" />
      <register type="object" mapTo="StatusChangeDetailsWindow" name="StatusChangeDetailsWindow" />
      <register type="object" mapTo="StudyListView" name="StudyListView" />
      <register type="object" mapTo="PatientLookupWindow" name="PatientLookupWindow" />
      <register type="object" mapTo="PatientSelectionView" name="PatientSelectionView" />
      <register type="object" mapTo="SelectMediaCategoryView" name="SelectMediaCategoryView" />
      <register type="object" mapTo="SelectOrderTypeView" name="SelectOrderTypeView" />
      <register type="object" mapTo="ChooseExistingOrderView" name="ChooseExistingOrderView" />
      <register type="object" mapTo="CreateNewRadiologyOrderView" name="CreateNewRadiologyOrderView" />
      <register type="object" mapTo="OrderingProviderLookupWindow" name="OrderingProviderLookupWindow" />
      <register type="object" mapTo="OrderingLocationLookupWindow" name="OrderingLocationLookupWindow" />
      <register type="object" mapTo="ProcedureLookupWindow" name="ProcedureLookupWindow" />
      <register type="object" mapTo="ReconciliationSummaryView" name="ReconciliationSummaryView" />
      <register type="object" mapTo="ConfirmationView" name="ConfirmationView" />
      <register type="object" mapTo="DicomViewerLauncherWindow" name="DicomViewerLauncherWindow" />
      <register type="object" mapTo="ReportsHomeView" name="ReportsHomeView" />
      <register type="object" mapTo="AdministrationHomeView" name="AdministrationHomeView" />
      <register type="object" mapTo="AdminRevertWorkItemView" name="AdminRevertWorkItemView" />
      <register type="object" mapTo="AdminFailedImportView" name="AdminFailedImportView" />
      <register type="object" mapTo="AdminInProcessImportsView" name="AdminInProcessImportsView" />
      <register type="object" mapTo="LogView" name="LogView" />
      <register type="object" mapTo="AddNonDicomFilesToReconciliationView" name="AddNonDicomFilesToReconciliationView" />

    </container>

  </unity>
</configuration>