<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 
    <add key="siteServiceUrl" value="http://siteserver.vista.med.va.gov/VistaWebSvcs/ImagingExchangeSiteService.asmx"/>
    -->
    <add key="siteServiceUrl" value="http://vhaiswimmixcvix/VistaWebSvcs/ImagingExchangeSiteService.asmx"/>
    <add key="timeout" value="60000"/>
    <add key="outputXmlFile" value="C:\Users\vhaiswwerfej\temp\vixHealthResults.xml"/>
    <add key="outputCsvFile" value="C:\Users\vhaiswwerfej\temp\vixHealthResults.csv"/>
    <add key="outputSitesDirectory" value="C:\Users\vhaiswwerfej\temp\sites"/>
    <add key="outputPropertiesDirectory" value="C:\Users\vhaiswwerfej\temp\sites"/>
  </appSettings>
</configuration>