# AE_TITLE.Sample, 15 June 2009
# 3.0;IMAGING;**53**;Mar 19, 2002;Build 1715;Apr 22, 2010
# Per VHA Directive 2004-038, this routine should not be modified.
# +---------------------------------------------------------------+
# | Property of the US Government.                                |
# | No permission to copy or redistribute this software is given. |
# | Use of unreleased versions of this software requires the user |
# | to execute a written test agreement with the VistA Imaging    |
# | Development Office of the Department of Veterans Affairs,     |
# | telephone (301) 734-0100.                                     |
# | The Food and Drug Administration classifies this software as  |
# | a medical device.  As such, it may not be changed in any way. |
# | Modifications to this software may result in an adulterated   |
# | medical device under 21CFR820, the use of which is considered |
# | to be a violation of US Federal Statutes.                     |
# +---------------------------------------------------------------+
#
#
#
# Application Entity Title
# <Application Entity Title> | <VistA Application Title Alias> | <Site Name>
#
# This entry is for Mallinckrodt Send_Image
DICOM_STORAGE|VistA_Storage|VistA Imaging Testing
#
# Put your entries here
#
#
# end of file

