<gov.va.med.imaging.dicomservices.datasource.configuration.DicomServicesConfiguration>
    <dicomServicesDisabled>true</dicomServicesDisabled>
	<localSiteLocalAETitle>LOCALAET</localSiteLocalAETitle>
	<localSiteRemoteAETitle>REMOTEAET</localSiteRemoteAETitle>
	<localSiteHost>0.0.0.0</localSiteHost>
	<localSitePort>60000</localSitePort>
        <localTempPath>c:\\dicom\\temp\\<\localTempPath>
        <textValueTag>0040,A160<\textValueTag>
	<localSitePDUTimeout>180</localSitePDUTimeout>
	<dicomRemoteAEs>
		<!--<string>TEST</string>
		<string>AET</string> -->
	</dicomRemoteAEs>
</gov.va.med.imaging.dicomservices.datasource.configuration.DicomServicesConfiguration>
