<gov.va.med.imaging.facade.configuration.FilterConfiguration>
  <dirty>false</dirty>
  <isRewriteT>true</isRewriteT>
  <toReplace>
    <gov.va.med.imaging.facade.configuration.EncryptedConfigurationPropertyString>Ga-6O_6hkRDrPUK3QJfPaA==</gov.va.med.imaging.facade.configuration.EncryptedConfigurationPropertyString>
  </toReplace>
  <replacement>Ins1TosV_T1OZEaCykesLunZkMftHkHC94DZmtiw6QU=</replacement>
</gov.va.med.imaging.facade.configuration.FilterConfiguration>