<gov.va.med.imaging.facade.configuration.IdConversionConfiguration>
  <dirty>false</dirty>
  <protocol>https</protocol>
  <host>NEED.TO.CHANGE.HOST</host>
  <port>443</port>
  <urlResource>/lvsfhirapi/v1/Patient?_query{queryMethod}{ampersandSign}identifier</urlResource>
  <username>**ADD USERNAME**</username>
  <password>**ADD PASSWORD**</password>
  <trustStoreFilePath>C:\VixCertStore\federation.truststore</trustStoreFilePath>
  <trustStorePassword>R00tbeer</trustStorePassword>
</gov.va.med.imaging.facade.configuration.IdConversionConfiguration>