<gov.va.med.imaging.javalogs.JavaLogConfiguration>
  <dirty>false</dirty>
  <retentionPeriodDays>5</retentionPeriodDays>
  <purgeAtStartup>false</purgeAtStartup>
  <refreshHour>1</refreshHour>
  <refreshMinimumDelay>1</refreshMinimumDelay>
  <refreshPeriod>86400000</refreshPeriod>
</gov.va.med.imaging.javalogs.JavaLogConfiguration>