<gov.va.med.imaging.transactionlogger.configuration.TransactionLoggerJdbcSourceProviderConfiguration>
  <retentionPeriodDays>5</retentionPeriodDays>
  <useSharedCache>true</useSharedCache>
  <synchronousMode>NORMAL</synchronousMode>
  <journalMode>WAL</journalMode>
</gov.va.med.imaging.transactionlogger.configuration.TransactionLoggerJdbcSourceProviderConfiguration>