<gov.va.med.imaging.vistadatasource.session.configuration.VistaSessionConfiguration>
  <dirty>false</dirty>
  <sessionMaxIdleTime>30000</sessionMaxIdleTime>
  <capriRemoteLoginEnabled>true</capriRemoteLoginEnabled>
  <bseRemoteLoginEnabled>true</bseRemoteLoginEnabled>
  <brokerKeepAliveEnabled>false</brokerKeepAliveEnabled>
  <bseCacheRefreshTime>0</bseCacheRefreshTime>
  <bseCacheRetentionTime>0</bseCacheRetentionTime>
</gov.va.med.imaging.vistadatasource.session.configuration.VistaSessionConfiguration>