<gov.va.med.imaging.vistaimagingdatasource.ingest.configuration.VistaImagingIngestConfiguration>
  <thumbnailMakerExe>C:\VixConfig\thumbnailMaker\ISI_makeabs.exe</thumbnailMakerExe>
  <tempImageDirectory>C:\VixConfig\Ingest_temp</tempImageDirectory>
  <conversionWorkingFolder>C:\VixConfig\ImageConversion\</conversionWorkingFolder>
  <imageConverterExe>C:\VixConfig\ImageConversion\ImageConverter.exe</imageConverterExe>
  <videoConverterExe>C:\VixConfig\ImageConversion\VideoConverter.exe</videoConverterExe>
  <gifInfoExe>C:\VixConfig\ImageConversion\gifInfo.exe</gifInfoExe>
  <convertMP4ToAVI>true</convertMP4ToAVI>
</gov.va.med.imaging.vistaimagingdatasource.ingest.configuration.VistaImagingIngestConfiguration>
