<gov.va.med.imaging.vixserverhealth.configuration.VixServerHealthWebAppConfiguration>
  <dirty>false</dirty>
  <threadPoolThreshold>100</threadPoolThreshold>
  <driveCapacityCriticalLimit>85.0</driveCapacityCriticalLimit>
  <threadProcessingTimeCriticalLimit>3600000</threadProcessingTimeCriticalLimit>
  <reloadPageIntervalSeconds>1200</reloadPageIntervalSeconds>
  <driveFreeSpaceCriticalLimit>20.0</driveFreeSpaceCriticalLimit>
  <maximum8080ActiveRequests>150</maximum8080ActiveRequests>
  <maximum8442ActiveRequests>150</maximum8442ActiveRequests>
  <maximum8443ActiveRequests>150</maximum8443ActiveRequests>
  <active8080RequestsThreshold>140</active8080RequestsThreshold>
  <active8442RequestsThreshold>140</active8442RequestsThreshold>
  <active8443RequestsThreshold>140</active8443RequestsThreshold>
</gov.va.med.imaging.vixserverhealth.configuration.VixServerHealthWebAppConfiguration>